body {
  background-color: #E7DFD8;
}

.text-color{
  border-color: #231F20;
  color: #231f2066;
}

.nav-box{
  border-right: 1px solid #18151652;
}


#border{
  border: 1px solid rgba(0, 0, 0, 0.338);
  border-radius: 3px;
}

*{
  font-family: var(--font-lato)
}

.merriweather{
  font-family: var(--font-merriweather)
}

.home-image{
  border-radius: 100%;
  width: 17rem;
  height: 17rem;
}

.icon-img{
  width: 30px;
  height: 30px;
}

#home-title{
  font-weight:bolder;
}