
body{
  font-size: larger;
  font-family: var(--font-inter);
  background-color: #f0f0f0ce;
}

.font-inter{
    font-family: var(--font-inter);
}

#navbar-item{
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#contact-icon{
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.link-tag{
  background-color: rgba(20, 20, 20, 0.158);
  border-radius: .2rem;
  margin: .3rem;
  padding: .4rem;
  border-bottom: 1px solid white;
}

.link-tag:hover{
  position: relative;
  bottom: 2px;
}

#stack-box{
  width: 7rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: .9rem;
  border-radius: 100%;
}

#stack-icon{
  width: 3.5rem;
}

.button{
  padding: 15px;
}
.button:hover{
  position: relative;
  bottom: 3.5px;
  transition: all 2s ease-in;
}

.link-nav{
  position: relative;
  color: #000;
  text-decoration: none;
}

.link-nav:hover {
  color: #000;
}

.link-nav::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-nav:hover::before {
  transform: scaleX(1);
}